
#codewrapper {
	width: 950px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 20;
	margin-left: auto;	
}

#intro {
	padding-bottom: 11px;
}



#slider {
    width: 900px;
    margin: 0 auto;
    position: relative;
}

.scroll {
    height: 300px;
    width: 900px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
    background: #FFFFFF;
    background-image: url(../imagenes/backg.jpg);
}

.scrollContainer div.panel {
	padding: 20px;
	height: 210px;
	width: 860px;
	font-family: Play, Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	text-align: left;
}

#shade {
	height: 50px;
	margin-top:10px;
	margin-bottom: 10px;
	background-image: url(../imagenes/shade.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

ul.navigation {
	font-family: Play, Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
	text-align:left;
}

ul.navigation li {
    width:187px;
	display: inline;
    margin-right: 5px;
}

ul.navigation a {
	width:187px;
	padding: 10px;
    color: #000;
    text-decoration: none;
	background-color: #bbbbbb;
}

ul.navigation a:hover {
    background-color: #555555;
	color: #FFFFFF;
}

ul.navigation a.selected {
    background-color: #fff;
}

ul.navigation a:focus {
    outline: none;
	color: #000000;
}

.scrollButtons {
    position: absolute;
    top: 150px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -20px;
}

.scrollButtons.right {
    right: -20px;
}

.hide {
    display: none;
}
