/* ....:::::###### General ######:::::.... */
body {
	background-color: #F1F1F1;
	background:url(../imagenes/bg.jpg) no-repeat;
	background-color:#f1f1f1;
	background-position: center top;
	font:Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	widows:100%;
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a{color:#06C;}
a:link, a:visited {
	text-decoration:none;
}

a:hover,a:active {
	text-decoration:none;
	color:#000;
}
img {
border: none;
}
p{text-indent: 0px; color:#009;}


ul.vignetas {
	list-style-image:url(../imagenes/item-pointer.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: dadada;
}

.vignetas span{color:#009; font-weight:bold;}

h1,h2,h3,h4,h5,h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:  bold;
	color: #009;
}
span{ color:#000; font-weight:bold;}


:focus {
  outline-color: transparent;
  outline-style: none;
}
ul,li {list-style-type:none;}
ul {
padding-left: 0;
list-style-type: none; 
}
.li{ list-style-image:url(../imagenes/item-pointer.gif);}


/*Administrador*/
.registro_orden{ position:relative; left:250px; text-align:left;}
#asigna{ color:#009;}
#asigna a{ text-decoration:none;}
#asigna a:hover{ color:#000;}
#titulo-admin{ font-size:14px;}
#titulocolor{ position:relative; left:20px;}
#barra{ color:#ffffff;}
#formcolor{ position:relative; left:300px;}
#btncolor{ position:relative; left:290px;}
#titulorol{ position:relative; left:450px;}
#inicio{ color:#ffffff;}
#marcas{ position:relative; padding-top:10px; left:120px;}
#clientes{ position:relative; left:350px;}
#ajuste_marca{ position:relative; left:100px;}
#bitacora{ position:relative; left:200px;}
#bitacora.bitacora{ position:relative; left:200px;}
#ord{ position:relative; left:300px;}
#centrar{ position:relative; left:25px;}
#ordenes{ position:relative; left:450px;}
#formord{position:relative; left:60px;}
#return-logo{ height:24px; width:24px;}
#return{ position:relative; padding-top:4px;}
#ret{ position:relative; left:50px;}
#centratablaprod{ position:relative; left:70px;}
#menuadmin{ position:relative; left:50px;}
#menuadmin a{ color:#000;}
#menuadmin a:hover{ color:#036; text-decoration:none;}
#nomcat{ font-size:16px; font-weight:bold; position:relative; left:400px;}
#admin{ position:relative; left:360px;}
#tablacolor{ position:relative; left:220px;}
#tablausuario{ position:relative; left:300px;}
#tablabanner{ position:relative; left:330px;}
#titulotalla{ position:relative; left:200px;}
#tablatalla{ position:relative; left:90px;}
#th{ width:90px;}
#talla{ width:100px;}
#tablaprod{ position:relative; left:290px;}
#listaprod{ position:relative; left:100px;}
#btnprod{ position:relative; right:150px;}
#reportes{ position:relative; left:160px;}
#td-img{ text-align:center; vertical-align:middle;}
#table-img{ position:relative; left:280px;}
#tablecar{ width:90%;}
#tabladypaq{}
#th{ width:100px;}
#tabladypaq td,th{ width:200px;}
#dypaq{ text-align:left;}
#formdypaq{ position:relative; left:290px;}
#tituloimg{ position:relative; left:390px;}
#titulobanner{ position:relative; left:450px;}
#tablecat{ width:15%;}
#titulocat{ position:relative; left:420px;}
#titulomarca{ position:relative; left:420px;}
.usuarios_admin{ right:300px; position:relative; padding-top:100px;}
.tablecom{ position:relative; left:220px;}
.tablamarca{ position:relative; left:400px;}
.tablamarc{ position:relative; left:420px;}
.tabladypaq{ position:relative; left:200px;}
.acomodarboton{ position:relative; right:50px; padding-top:35px;}
.btnimg{ position:relative; left:320px;}
.reportes{ position:relative; left:200px;}
.img{position:relative; left:400px; width:200px; height:170px;}
.ima{position:relative; left:390px;}
.tabla{ text-align:center;}
.th2{ width:30px;}
.formcat{ position:relative; left:270px;}
.formrol{ position:relative; left:285px;}
.tablaimg{position:relative; left:2px;}
.tableban{position:relative; left:370px;}
.tablatalla{position:relative; left:415px;}
.titprod{ position:relative; left:430px;}
.tablareportes{ position:relative; right:110px;}
.menuprincial{ position:relative; left:31px; padding-top:3px;}
.movermenu{ position:relative; left:150px; text-align:left;}
.tablecat{ position:relative; left:445px;}
.tableper{ position:relative; left:350px;}
.formper{ position:relative; left:300px;}
.btnper{ position:relative; left:215px;}
.btncat{ position:relative; left:142px;}
 /*MENU ADMINISTRADOR*/
 #jsddm
{	margin: 0;
	padding: 0
}

#jsddm li
{	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
}

#jsddm li a
{	display: block;
	background: #324143;
	padding: 5px 12px;
	text-decoration: none;
	border-right: 1px solid black;
	width: 70px;
	color: #EAFFED;
	white-space: nowrap;
}

#jsddm li a:hover
{background: #24313C;}
		
#jsddm li ul
{	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white}
		
#jsddm li ul li
{	float: none;
	display: inline;
}
			
#jsddm li ul li a
{	width: auto;
	background: #666;
	color: #fff;
}
			
#jsddm li ul li a:hover
{background: #8EA344;}
 

/*CARRO*/
.pasouno{ height:100%; width:1000px; margin:10px; background-color:#f1f1f1;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.pasodos{ background-color:#f1f1f1; width:1000px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:100%;
	margin:20px;
}
.form_pasodos{ position:relative; left:100px;}
#ajuste{ position:relative; left:250px;}
#ajuste_pago{ position:relative; left:380px;}
.ajuste_co{ position:relative; left:300px;}
.tablacar{ position:relative; left:25px;}
#btnconfirma{ position:relative; left:20px;}
.datos{ position:relative; left:30px; text-align:left;}
#info{ position:relative; right:280px;}
#folio{ position:relative; right:400px;}
.centrar{ position:relative; left:250px;}
.centrartabla{ position:relative; left:260px;}
.movertabla{ position:relative; right:50px;}
#confimacion{ position:relative; left:50px;}
.ajustetabla{ position:relative; left:20px;}
.carro{ position:relative; left:220px;}
.config{ position:relative; left:150px;}
#btnpaso2{ position:relative; left:15px;}
#icono-carro{ height:20px; width:18px;}
#carro{ position:relative; right:20px;}
#prod{ position:relative; padding-top:30px;}
#car{ position:relative;  left:50px;}
#produc{ position:relative; padding-top:30px;}
#tabla-carro{ position:relative; left:-200px;}
#titulo-carro{ position:relative; left:360px; font-size:18px;}
#confirma{ color:#0C0094; font-weight:bold;}
#btncat{ position:relative; left:160px;}
.carro{ color:#fff;}
.mover{ position:relative; left:30px;}
.mover2{ position:relative; left:600px; padding-top:70px;}
.moverdetalle{ position:relative; left:60px;}
.textcarro{ position:relative; padding-bottom:80px;}
.ajust{ position:relative; right:190px;}
.ajuste2{ position:relative; right:20px;}
.botoncarro{ width:36px;}

/*CARTELERA*/
.nombre{ position:relative; left:80px; font-weight:bold; font:Tahoma;}
.nombre a:hover{ color:#FFF;}
.precio{ position:relative; left:50px;}
.precio label{ color:#FFF;} 
.contenido{ position:relative; right:10px;}
#search{ position:relative; right:5px;}
#mover{ margin-top:40px;}
#tamano{ font-size:15px;}
#cartelera{
	text-align:center;
	margin:20px; 
	background:#222;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
 }
.movercartelera{ position:relative; left:245px; top:15px;}
.moverfiltros{ position:relative; left:200px; top:20px;}
#categoriasmover{ position:relative; left:5px;}
#boton-cartelera{ position:relative; left:50px;}
#boton-buscar{ position:relative; right:30px;}

/*CLIENTES*/
.tableus{ position:relative; left:320px;}
.btnus{ position:relative; left:320px;}
.btnf{ position:relative; left:290px;}
.btnr{ position:relative; left:320px;}

/*FICHA*/
#agotado{
	color: #f20000;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:700;
}
.tags{ position:relative; right:650px; top:30px;}
.tags li{ display:inline;}
.separador{ position:relative; left:315px;}
#img-ficha{ width:374px; height:465px;}
#titulo-ficha{ font-size:16px; position:relative; left:260px;}
#contenido-ficha{ position:relative; left:20px; padding-top:50px;}
.centrar_ficha{ position:relative; left:330px;}
#coment{ position:relative; left:300px; top:30px; background-color:#CCC;text-align:center;
-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}
#coment label{ font-weight:bold; color:#006;}
#btncom{ position:relative; right:300px;}
.movercom{ position:relative; left:310px; margin:20px; top:20px;}
.ajustecom{ position:relative; left:310px;}
#comentarios{
	background-color:#fff;
	border:1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:300px;
}
#tamanio{ font-size:10px;}
#nombre_com{ color:#039;}
#fecha_com{ font-size:12px;}
#mover_com{ position:relative; right:80px; font-size:12px;}
#calif{ font-size:12px;}
#fecha_com{ position:relative; right:110px; font-size:12px;}
#comenta{ position:relative; left:5px;}
/*PAGINACIÓN*/
.actual{ background-color:#003; color:#FFFFFF; border-radius:5px; text-align:center;}
#pag{ position:relative; left:235px; background-color:#000; width:978px;
text-align:center; 
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
#pag a{ color:#FFF;}
#pag #actual{ color:#ff0;}
#pag li{ display:inline;}

/*PLANTILLA*/
.baja_pie{ position:relative; top:200px;}
.titulo_panel{ position:relative; left:350px;}

#menu {
	width: 876px;
	height: 45px;
	position: absolute;
	top: 90px;
	right:230px;
	margin-left: -388px;
	z-index: 200;
}
.menu {
	width: 876px;
	height: 45px;
	
	position: absolute;
	top: 130px;
	left: 50%;
	margin-left: -388px;
	z-index: 200;
}
.panel_admin {
	width: 800px;
	height: 45px;
	position: absolute;
	top: 250px;
	left: 400px;
	margin-left: -388px;
	z-index: 200;
	text-align:center;
}

.logo {
	width: 343px;
	height: 130px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -480px;
}
.marcas {
	width: 480px;
	height: 83px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: 0px;
}

.usuarios {
	width: 480px;
	height: 83px;
	overflow: hidden;
	position: absolute;
	top: 70px;
	left: 700px;
	margin-left: 0px;
}

.cartelera {
	overflow: hidden;
	top: 0;
	left: 100px;
	position:relative;
	margin-left: 0px;
}

.filtros {
	width: 900px;
	height: 83px;
	overflow: hidden;
	position:relative;
	top: 10px;
	right: 50px;
	margin-left: 0px;
}

.search {
	width: 230px;
	height: 83px;
	overflow: hidden;
	position:relative;
	top: 10px;
	right: 130px;
	margin-left: 0px;
}

.menuholder { margin:0px;padding:0px; } /*opcional*/
.menuholder li {float:left;}
.menuholder a {background:url(../imagenes/menu.gif);display:block; height:44px; }

/*ESTADO NORMAL*/
.menu_hom a {width:87px; background-position:0px -45px;}
.menu_cat a {width:88px; background-position:-87px -45px;}
.menu_pro a {width:117px; background-position:-175px -45px;}
.menu_haz a {width:139px; background-position:-292px -45px;}
.menu_emp a {width:85px; background-position:-431px -45px;}
.menu_mar a {width:149px; background-position:-516px -45px;}
.menu_not a {width:83px; background-position:-665px -45px;}
.menu_con a {width:128px; background-position:-748px -45px;}

/*ESTADO ROLLOVER*/
.menu_hom a:hover {background-position:0px -1px;}
.menu_cat a:hover {background-position:-87px -1px;}
.menu_pro a:hover {background-position:-175px -1px;}
.menu_haz a:hover {background-position:-292px -1px;}
.menu_emp a:hover {background-position:-431px -1px;}
.menu_mar a:hover {background-position:-516px -1px;}
.menu_not a:hover {background-position:-665px -1px;}
.menu_con a:hover {background-position:-748px -1px;}

/*ESTADO ACTIVO*/
.menu_hom a:active {background-position:0px -1px;}
.menu_cat a:active {background-position:-87px -1px;}
.menu_pro a:active {background-position:-175px -1px;}
.menu_haz a:active {background-position:-292px -1px;}
.menu_emp a:active {background-position:-431px -1px;}
.menu_mar a:active {background-position:-516px -1px;}
.menu_not a:active {background-position:-665px -1px;}
.menu_con a:active {background-position:-748px -1px;}

.banner{ position:relative; left:30px;}
.izq{ position:relative; left:50px;}
.footer{ background:url(../imagenes/footer.PNG); text-align:center; height:100px; }
.bg{ background:url(../imagenes/bgbot1.gif); height:150px; width:900px;}
.baja{ padding-top:14px;}
#footer_ficha{ position:relative; left:60px;}
#footer{ position:relative; right:50px;}
#header{ position:relative; padding-left:35px;}
#logo{ position:relative; left:10px;}
#pie{ position:relative; left:100px;}
#img_ult{ position:relative; right:70px;}
#img_ult2{ position:relative; right:70px;}
#leyendapie{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 21px;
	color: #666;
}
#social{ margin-left:15px;}

/*PANEL*/
.panel{font-family:Arial, Helvetica, sans-serif; position:relative; left:80px;}
#alinea{ position:relative; right:130px;}
#d_usuario{ position:relative; left:30px;}
#d_usuario li{ list-style:none;}
#page{position:relative; width:700px; margin:0 auto;}
#page h2,#page p{margin:40px 50px; color:#666;}
#panel-admin{ position:relative; left:320px;}
#panel-text{ position:relative; left:150px;}

/*OTROS*/
#contenido{ position:relative; left:120px;}
#user{ position:relative; padding-top:10px; left:700px;}
.tp{ width:90px}
.imgcont{ width:940px; height:350px;}
.bajar{ position:relative; padding-top:25px; left:50px;}
.men{ position:relative; padding-top:1px; left:75px;}
.custom{ position:relative; left:460px;}
.ac{ position:relative; right:100px;}
.botoncentrar{ position:relative; left:150px;}
.ajuste{ position:relative; right:70px;}


select{ color:#009; border:1px #000 solid;}

/*TABLAS*/
#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

.form {
	width: 600px;
	margin-top: 25px;
}

.form input[type="text"], .form input[type="password"] , .form textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

.select{
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

.form textarea {
	height: 90px;
}

.form textarea:focus, form input:focus {
	border: 2px solid #900;
}

.form input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

.tabla_usuario {
font:Arial;
font-size:18px;
text-align:left;
width:500px;
background-color:#fff;
vertical-align:middle;
padding:10px;
}

.tabla_usuario th {
padding: 5px;
font-size: 16px;
background-color: #3A9CCD;
color: #FFFFFF;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #558FA6;
border-bottom-color: #558FA6;
font:Arial;
}


.user .modo1 {
font-size: 14px;
font-weight:bold;
background-color: #e2ebef;
color: #34484E;
font:Arial;
}
.tabla_usuario .modo1 td {
padding: 5px;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #A4C4D0;
border-bottom-color: #A4C4D0;
text-align:center;
vertical-align:middle;
}

.tabla_usuario .modo1 th {
font-size: 12px;
font-weight:bold;
text-align: left;
background-color: #e2ebef;
color: #34484E;
font:Arial;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #A4C4D0;
border-bottom-color: #A4C4D0;
}


.tabla {
font:Arial;
font-size:18px;
text-align: center;
width: 1100px;
background-color:#FFF;
vertical-align:middle;
}

.tabla td{ vertical-align:middle;}

.tabla th {
padding: 5px;
font-size: 16px;
background-color: #3A9CCD;
color: #FFFFFF;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #558FA6;
border-bottom-color: #558FA6;
font:Arial;
text-align:center;
}

.tabla tr:hover{ background-color:#80BDFF;}

.tabla .modo1 {
font-size: 14px;
font-weight:bold;
background-color: #e2ebef;
color: #34484E;
font:Arial;
}
.tabla .modo1 td {
padding: 5px;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #A4C4D0;
border-bottom-color: #A4C4D0;
text-align:center;
vertical-align:middle;
}

tabla .modo1 th {
font-size: 12px;
font-weight:bold;
text-align: left;
background-color: #e2ebef;
color: #34484E;
font:Arial;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #A4C4D0;
border-bottom-color: #A4C4D0;
}
 /*Tabla carro*/

.tabla_carro {
font:Arial;
font-size:18px;
text-align: center;
width:200%;
background-color:#FFF;
vertical-align:middle;
}

.tabla_carro td{ vertical-align:middle;}

.tabla_carro th {
padding: 5px;
font-size: 16px;
background-color: #3A9CCD;
color: #FFFFFF;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #558FA6;
border-bottom-color: #558FA6;
font:Arial;
text-align:center;
}



.tabla_carro .modo1 {
font-size: 14px;
font-weight:bold;
background-color: #e2ebef;
color: #34484E;
font:Arial;
}
.tabla_carro .modo1 td {
padding: 5px;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #A4C4D0;
border-bottom-color: #A4C4D0;
text-align:center;
vertical-align:middle;
}

.tabla_carro .modo1 th {
font-size: 12px;
font-weight:bold;
text-align: left;
background-color: #e2ebef;
color: #34484E;
font:Arial;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #A4C4D0;
border-bottom-color: #A4C4D0;
}

/*CHECKOUT*/
.wizard-steps {
    margin:20px 10px 0px 10px;
    padding:0px;
    position: relative;
    clear:both;
    font-family:Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.wizard-steps div {
    position:relative;
}

.wizard-steps span {
    display: block;
    float: left;
    font-size: 10px;

    text-align:center;
    width:15px;
    margin: 2px 5px 0px 0px;
    line-height:15px;
    color: #ccc;
    background:#fff;
    border: 2px solid #CCC;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.wizard-steps a {
    position:relative;
    display:block;
    width:auto;
    height:24px;
    margin-right: 18px;
    padding:0px 10px 0px 3px;
    float: left;
    font-size:11px;
    line-height:24px;
    color:#666;
    background: #F0EEE3;
    text-decoration:none;
    text-shadow:1px 1px 1px rgba(250,255,255, 0.8);
}
.wizard-steps a:before {
    width:0px;
    height:0px;
    border-top: 12px solid #F0EEE3;
    border-bottom: 12px solid #F0EEE3;
    border-left:12px solid transparent;
    position: absolute;
    content: '';
    top: 0px;
    left: -12px;
}
.wizard-steps a:after {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left:12px solid #F0EEE3;
    position: absolute;
    content: '';
    top: 0px;
    right: -12px;
}

.wizard-steps .completed-step a {color:#fff; background: #000000;}
.wizard-steps .completed-step a:before {border-top: 12px solid #000000; border-bottom: 12px solid #000000;}
.wizard-steps .completed-step a:after {border-left: 12px solid #000000;}
.wizard-steps .completed-step span {border: 2px solid #008EED; color: #008EED; text-shadow:none;}
.wizard-steps .active-step a {color:#E9EAB3; background: #002B8F; text-shadow:1px 1px 1px rgba(0,0,0, 0.8);}
.wizard-steps .active-step a:before { border-top: 12px solid #002B8F; border-bottom: 12px solid #002B8F;}
.wizard-steps .active-step a:after {border-left: 12px solid #002B8F;}
.wizard-steps .active-step span {
    color: #F0960F;
    -webkit-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    -moz-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    text-shadow:none;
    border: 2px solid #F0960F;
}
.wizard-steps .completed-step:hover a, .wizard-steps .active-step:hover a {color:#008EED; background: #005285; text-shadow:1px 1px 1px rgba(0,0,0, 0.8);}
.wizard-steps .completed-step:hover span, .wizard-steps .active-step:hover span {color:#000;}
.wizard-steps .completed-step:hover a:before, .wizard-steps .active-step:hover a:before {border-top: 12px solid #005285; border-bottom: 12px solid #005285;}
.wizard-steps .completed-step:hover a:after, .wizard-steps .active-step:hover a:after {border-left: 12px solid #005285;}

/*BOTONES*/
.button {
	border:none;
   background: #0270ba;
   background: -webkit-gradient(linear, left top, left bottom, from(#00548c), to(#0270ba));
   background: -webkit-linear-gradient(top, #00548c, #0270ba);
   background: -moz-linear-gradient(top, #00548c, #0270ba);
   background: -ms-linear-gradient(top, #00548c, #0270ba);
   background: -o-linear-gradient(top, #00548c, #0270ba);
   padding: 4px 8px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 11px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   cursor:pointer;
}
.button:hover {background: #000000; color: #adadad;}
.button:active {background: #3b3b3b;}

/*BOTONES DESACTIVADOS*/
button[disabled]:active, button[disabled],
input[type="reset"][disabled]:active,
input[type="reset"][disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
select[disabled] > input[type="button"],
select[disabled] > input[type="button"]:active,
input[type="submit"][disabled]:active,
input[type="submit"][disabled] {
  color: GrayText;
  cursor: inherit;
  background: #0270ba;
   background: -webkit-gradient(linear, left top, left bottom, from(#00548c), to(#0270ba));
   background: -webkit-linear-gradient(top, #00548c, #0270ba);
   background: -moz-linear-gradient(top, #00548c, #0270ba);
   background: -ms-linear-gradient(top, #00548c, #0270ba);
   background: -o-linear-gradient(top, #00548c, #0270ba);
   padding: 4px 8px;
}
   
/*RITMANN*/

.td_menu_left {
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: left;
	background-image: url(../imagenes/tempbgmenuleft.gif);
}
.td_menu_left ul {
	text-indent: -20px;
	color: #999999;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
}
.td_menu_left ul li {
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 11px;
	list-style-type: none;
	text-indent: -20px;
	color: #888888;
	font-weight: normal;
}
.td_menu_left ul li a:link, .td_menu_left ul li a:visited {
	color: #999999;
	text-decoration: none;
}
.td_menu_left ul li a:hover {
	color: #CCCCCC;
	text-decoration: none;
	font-weight: bold;
}

.td_menu_left ul li ul {
	text-indent: -20px;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
}
.td_menu_left ul li ul li {
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 11px;
	list-style-type: none;
	text-indent: -50px;
	color: #999999;
	font-weight: normal;
}
.td_menu_left ul li ul li a:link, .td_menu_left ul li ul li a:visited {
	color: #999999;
	text-decoration: none;
}
.td_menu_left ul li ul li a:hover {
	color: #CCCCCC;
	text-decoration: none;
	font-weight: bold;
}
.td_main {
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}
.news {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	width: 514px;
	float: left;
	overflow: hidden;
}
#azul {
	color: #3A9CCD;
}


.newsfoto {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	float: left;
	width: 195px;
}
.newstxt {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	float: none;
	font-size: 14px;
	font-weight: bold;
	color: #999999;
	font-family: "Lucida Console";
	text-decoration:none;
}

.newstitulo {
	font-family: "Lucida Console";
	color: #3A9CCD;
	font-size: 20px;
	font-weight: normal;
	text-decoration:none;
}
.newstitulo a, .newstitulo a:link, .newstitulo a:visited{
	color: #3A9CCD;
	text-decoration:none;
}
.newstitulo a:hover{
	color: #27769C;
	text-decoration:none;
}


.newsletter
{
	padding: 0px;
	height: 130px;
	width: 300px;
	overflow: hidden;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-repeat: no-repeat;
	float: none;
	clear: none;
	position: relative;
}
.newsletter form
{
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 290px;
	padding: 0px; 
}
.newsletter #mail
{
	background-color:transparent;
	width: 212px;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 14px;
	color: #000000;
	height: 27px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-image: url(../imagenes/input.gif);
	background-repeat: no-repeat;
	font-weight: bold;
	vertical-align: middle;
}
.newsletter #submit
{
	padding: 0px;
	margin: 0px;
	top: 0px;
	vertical-align: middle;
}
.td_news_main {
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}
:focus {
  outline-color: transparent;
  outline-style: none;
}

.bottom {
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 12px;
	font-weight: bold;
	background-image: url(../imagenes/claro.jpg);
	background-repeat: repeat-x;
	background-position: center 15px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	padding-top: 32px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	height: 140px;
	text-align: center;
}
.bottom img{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

-webkit-appearance: none;
resize: none;
.td_main_catalogo {
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	
}
.cat_bc {
	font-family: 'Play', Arial, Helvetica, sans-serif;
	padding: 5px;
	font-size: 16px;
	color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	font-style: normal;
	font-weight: bold;
	background-color: #969696;
	text-align: left;
	background-image-old: url(../imagenes/bg_gray.gif);
	background-image: url(../imagenes/tempbgmenuleft.gif);
}
.cat_opciones {
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	padding: 0px;
	font-size: 14px;
	color: #000000;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-right-width: 1px;
	border-right-color: #999999;
	border-left-width: 1px;
	border-left-color: #999999;
	margin: 0px;
	width:150px;
	height: 500px;
	overflow:hidden;
}
.cat_opcion {
	font-family: 'Play', Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	padding: 5px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-color: #000066;
	background-color: #969696;
	background-image-old: url(../imagenes/bg_gray.gif);
	background-image: url(/img2/tempbgmenuleft.gif);
}
.cat_opcion a:link, .cat_opcion a:visited, .cat_opcion_activa a:link, .cat_opcion_activa a:visited {
	text-decoration: none;
	color: #CCCCCC;
}
.cat_opcion a:hover, .cat_opcion_activa a:hover {
	text-decoration: none;
	color: #CCCCCC;
}
.cat_opcion_activa {
	font-family: 'Play', Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 5px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-color: #000066;
	color: #CCCCCC;
	text-align: center;
	background-color: #B6B6B6;
	background-image-old: url(../imagenes/bg_gray2.gif);
	background-image: url(../imagenes/claro2.jpg);
	background-repeat: repeat;
	font-weight: bold;
}
.cat_area1
{
	width:150px;
	height: 527px;
	overflow: hidden;
	position: relative;
	clear: both;
}
.cat_area2
{
	width:374px;
	height: 527px;
	position: relative;
	clear: both;
}
.cat_area3
{
	width:225px;
	height: 467px;
	position: relative;
	clear: both;
}
.cat_area0
{
	width:231px;
	height: 527px;
	overflow: hidden;
	position: relative;
	clear: both;
}
.cat_detalle {
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 12px;
	color: #666666;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-left-color: #999999;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #999999;
}
.cat_nombre {
	padding: 5px;
	font-size: 12px;
	color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	font-weight: bold;
	clear: left;
	border-top-width: 1px;
	border-top-color: #999999;
	background-image: url(../imagenes/tempbgmenuleft.gif);
	text-align:left;
}
.cat_caracteristicas {

	padding: 5px;
	font-size: 10px;
	color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	clear: left;
	height: auto;
	text-align:left;
}
.cat_detalle b {
	color: #CCCCCC;
	font-weight: bold;
}
.cat_color {
	margin: 5px;
	padding: 0px;
	height: 14px;
	width: 14px;
	float: left;
	border: 1px solid #666666;
}

.cat_talla {
	margin: 5px;
	padding: 0px;
	height: 16px;
	width: 30px;
	float: left;
	text-align: center;
	background-color: #EFEFEF;
	border: 1px solid #666666;
}
.cat_claveslogan {
	padding: 0px;
	font-size: 12px;
	color: #003399;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	font-weight: bold;
	margin: 0px;
	height: auto;
}
.cat_clave {
	padding: 4px;
	font-size: 12px;
	color: #EEEEEE;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-weight: bold;
	margin: 0px;
	float: left;
	width: 50px;
	clear: none;
	overflow: hidden;
}
.cat_slogan {
	padding: 0px;
	font-size: 12px;
	color: #FF0000;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-weight: bold;
	margin: 0px;
	float: left;
	width: 150px;
	height: 30px;
	border-left-width: 1px;
	border-left-color: #999999;
	overflow: hidden;
	text-align: center;
}
.cat_tech {
	padding: 1px;
	font-size: 10px;
	color: #666666;
	text-align: left;
	clear: left;
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
}
.cat_logo {
	padding: 5px;
	font-size: 10px;
	color: #666666;
	width: 210px;
	text-align: right;
	height: 60px;
	overflow: hidden;
}
.tcontent {
	background-color: #FFFFFF;
	border: 1px solid #000000;
}

/* css/tooltip.css -- fancy tooltips */

div.cat_color {
  position: relative;   /* this is key */
}
 
div.cat_color span.tip {
  display: none;        /* so is this */
}
div.cat_color:hover span.tip span.cat_color_txt
{
	display: block;
	color: #000000;
	width: 154px;
	font-family: 'Play', Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	background: rgba(255, 255, 255, 0.7);
	padding: 3px;
	text-align:left;
}
/* tooltip will display on :hover event */
 
div.cat_color:hover span.tip {
  display: block;
  z-index: 100;
  position: absolute;
  top: -85px;
  left: -66px;
  width: 160px;
  height: 70px;
  
  border: 1px solid #336;
  background-color: #000000;
}

/*TECH TOOLTIP*/

div.cat_techimg {
  position: relative;   /* this is key */
	margin: 0px;
	padding: 2px;
	height: 64px;
	width: 64px;
	float: left;
	vertical-align: bottom;
}
 
div.cat_techimg span.tip {
  display: none;        /* so is this */
}

/* tooltip will display on :hover event */
 
div.cat_techimg:hover span.tip {
  display: block;
  z-index: 100;
  position: absolute;
  top: -110px;
  left: -100px;
  width: 300px;
  height: 105px;
  color: #ffffff;
  padding: 0px;
  	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	overflow:hidden;
	background-image: url(../imagenes/bubble.png);
	background-position: center bottom;
}





#content span.tool::after {
  padding-left: 2px;            /* eye candy */
  content: url(../imagenes/bubble.gif);
}

/* css/tooltip.css */
.bottomHome {
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 10px;
	font-weight: bold;
	background-repeat: repeat;
	background-position: center;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	text-align: center;
	color: #333333;
	background-image: url(../imagenes/claro.jpg);
}
.newsHome {
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 12px;
	font-weight: bold;
	background-repeat: repeat-x;
	background-position: center 20px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	padding-top: 32px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	height: 180px;
	text-align: center;
	vertical-align: top;
	background-image: url(../imagenes/tempbgmenuleft.gif);
}
.newscols
{
	display:inline-block;
	width:300px;
	height: 150px;
	overflow:hidden;
	margin-left:10px;
	margin-right:10px;
	text-align:left;
	float: left;
}

.navcatalogo
{
	border: 1px solid #000;
	color:#FF0000;
	width:970px;
	height: 252px;
	/*border-radius: 10px;*/
	-moz-box-shadow: 2px 2px 4px #000;
	-webkit-box-shadow: 2px 2px 4px #000;
	box-shadow: 2px 2px 2px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	text-align:left;
	position: absolute;
	top: 125px;
	left: 50%;
	margin-left: -487px;
	z-index: 1000;
	opacity:0;
	display:none;
	/* Firefox */
-moz-transition-property: opacity;
	-moz-transition-duration: 1s;
	-moz-transition-delay: 0s;
	/* WebKit */
-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	/* Opera */
-o-transition-property: opacity;
	-o-transition-duration: 1s;
	-o-transition-delay: 0s;
	/* Standard */
transition-property: opacity;
	transition-duration: 1s;
	transition-delay: 0s;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 12px;
	background-color: #000000;
	background-image: url(../imagenes/tempbgmenuleft.gif);
	font-weight: bold;
}
.navcatalogo a
{
	color:#FFFFFF;
	text-decoration:none;
	font-weight: bold;
}
.navcatalogo a:hover
{
color:#FFFFFF;
}
.navcatalogoshow
{
display:block;
opacity: 1;
/* Firefox */
-moz-transition-property: opacity;
-moz-transition-duration: 1s;
-moz-transition-delay: 0s;
/* WebKit */
-webkit-transition-property: opacity;
-webkit-transition-duration: 1s;
-webkit-transition-delay: 0s;
/* Opera */
-o-transition-property: opacity;
-o-transition-duration: 1s;
-o-transition-delay: 0s;
/* Standard */
transition-property: opacity;
transition-duration: 1s;
transition-delay: 0s;
}
.cat_paginas {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 10px;
	height: 20px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.cat_paginas a:link, .cat_paginas a:visited, .cat_paginas a:active {
	text-align: center;
	margin: 2px;
	height: 24px;
	width: 24px;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	text-decoration:none;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.cat_paginas a:hover {
	text-align: center;
	background-color: #DDDDDD;
	border: 1px solid #CCCCCC;
	text-decoration:none;
}
.cat_paginas b {
	text-align: center;
	margin: 2px;
	height: 24px;
	width: 24px;
	background-color: #000000;
	border: 1px solid #000000;
	color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.formacontacto tr td {
	font-family: 'Play', Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 16px;
	padding: 3px;
	vertical-align: middle;
	font-weight: bold;
}
.formacontacto tr td input, .formacontacto tr td select, .formacontacto tr td textarea {
	font-family: Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	color: #FFFFFF;
	font-size: 13px;
	background-color: #666666;
	filter:alpha(opacity=80);-moz-opacity:.8;opacity:.8;
	border: 1px solid #CCCCCC;
	padding: 1px;
	height: 24px;
	margin-top: 3px;
	margin-right: 10px;
	margin-bottom: 3px;
	margin-left: 0px;
}
.contacto {
	padding: 15px;
	height: 530px;
	width: 499px;
}
.haz {
	padding: 15px;
	height: 430px;
	width: 980px;
}
.td_submenu {
	font-family: 'Nunito', Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 12px;
	color: #FFFFFF;
	font-weight: normal;
	text-align: left;
	background-color: #000000;
	border: 1px none #000000;
	margin: 0px;
	padding: 0px;
}
/* background-image: url(/img2/tempbgmenuleft.gif); */

.td_submenu #tit{
	font-family: 'Play', Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 15px;
	color: #A7C1FE;
	font-weight: bold;
}
.td_submenu a{
	color: #DDDDDD;
	font-weight: normal;
}
.td_submenu a:hover {
	color: #FFFFFF;
	font-weight: bold;
}
.td_submenu #gray {
	background-color: #222222;
	color: #000000;
	font-weight: bold;
}
/* background-image: url(/img2/claro2.jpg); */

.td_submenu #gray a {
	color: #CCCCCC;
	font-weight: normal;
}
.td_submenu #gray a:hover {
	color: #FFFFFF;
	font-weight: bold;
}
.td_submenu #gray td{
	color: #FFFFFF;
	font-weight: bold;
}
.empresa {
	font-family: 'Play', Arial, Helvetica, sans-serif;
	font-size: 14px;
	width:960px;
	height:750px;

	background-image:url(../imagenes/bordadoras.jpg);
	background-repeat:no-repeat;
	background-color:#CCCCCC;
	color: #000000;
	background-position: 0px 0px;
}
.empresa table tr td p {
	font-family: 'Play', Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	padding: 0px;
}
.empresa table tr td {
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	text-align: left;
}
.resto_claro {
	font-family: 'Play', Arial, Helvetica, sans-serif;
	padding: 15px;
	width: 940px;
	color: #000000;
	text-align: center;
	margin:0 auto;
}

.arts {
	font-family: 'Play', Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	width: 940px;
	padding: 10px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#AAFFFFFF,endColorstr=#AAFFFFFF);
	background-color: rgba(255,255,255,0.7);
}

/*====================*/
/*=== SLIDES  ===*/
/*====================*/

#wrapper {
	width:972px;
	height:370px;
	padding:0px;
	position:relative;
	z-index:0;
	background-color: #000000;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}


.theme-default #slider {
    margin:0px auto 0 auto;
    width:968px; /* Make sure your images are the same size */
    height:343px; /* Make sure your images are the same size */
}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
    margin-top:150px;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}
.onlytxt {
	font-family: Play, Arial, Helvetica, sans-serif, "Myriad Web", "Myriad Pro";
	font-size: 16px;
	color: #000000;
}
.nuestrasmarcas {
	font-family: 'Play', Arial, Helvetica, sans-serif;
	font-size: 14px;
	width:960px;
	background-image:url(../imagenes/bordadoras.jpg);
	background-repeat:no-repeat;
	background-color:#B2B2B2;
	color: #000000;
	background-position: 0px 0px;
}